<md-card class="scroll-x">
  <table md-table class="table table-condensed table-bordered">
        <thead md-head>
            <tr>
                <th>
                  <span ng-click="expanded = !expanded" ng-show="documentHistory.length > 1">
                    <md-icon class="expand-arrow" ng-show="!expanded">keyboard_arrow_right</md-icon>
                    <md-icon class="expand-arrow" ng-show="expanded">keyboard_arrow_down</md-icon>
                  </span>
                  <b translate="REVISION"></b>
                </th>
              </span>
                <th><b translate="REVISEDBY"></b></th>
                <th><b translate="DATETIME"></b></th>
                <th><b translate="STATUS"></b></th>
                <th><b translate="DESCRIPTIONOFCHANGE"></b></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr ng-show="!expanded">
                <td>{{documentHistory.length}}</td>
                <td>{{documentHistory[documentHistory.length - 1].revisedBy}}</td>
                <td>{{documentHistory[documentHistory.length - 1].revisedDate | date : settings.datetimeFormat}}</td>
                <td translate>{{documentHistory[documentHistory.length - 1].revisedStatus}}</td>
                <td><span ng-class="{addSpace:!$last}" translate ng-repeat="word in documentHistory[documentHistory.length - 1].revisedDesc.split(' ')">{{word}}</span></td>
            </tr>
            <tr ng-repeat="revision in documentHistory" ng-show="expanded">
                <td>{{$index + 1}}</td>
                <td>{{revision.revisedBy}}</td>
                <td>{{revision.revisedDate | date : settings.datetimeFormat}}</td>
                <td translate>{{revision.revisedStatus}}</td>
                <td><span ng-class="{addSpace:!$last}" translate ng-repeat="word in revision.revisedDesc.split(' ')">{{word}}</span></td>
            </tr>
        </tbody>
    </table>
</md-card>