<ion-view>
 <div class="md-padding" layout-align="center center" ng-cloak="">

<md-dialog aria-label="Product Line">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h6 class="md-title">Product Line Items</h6>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content" md-scroll-y>
      <h2>Product Details</h2>

	  <form name="prodDForm" class="form-horizontal" role="form">

        <div class="form-group">
          <label class="control-label col-sm-4" for="companyTUEAN">Company Trading Unit EAN:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="companyTUEAN" ng-model="nwProdList.supplierTUEAN" ng-pattern="/^[1-9]+[0-9]*$/" required  minlength="8" maxlength="24">
              <div class="custom-error" ng-show="prodDForm.supplierTUEAN.$dirty && prodDForm.supplierTUEAN.$invalid">
                <i class="ion-information-circled"></i> Invalid:
                <span ng-show="prodDForm.supplierTUEAN.$error.required">Trading unit EAN is required.</span>
              </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4" for="companyCUEAN">Company Consumer Unit EAN:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="companyCUEAN" ng-model="nwProdList.supplierCUEAN" ng-pattern="/^[1-9]+[0-9]*$/" required minlength="8" maxlength="24">
              <div class="custom-error" ng-show="prodDForm.supplierCUEAN.$dirty && prodDForm.supplierCUEAN.$invalid">
                <i class="ion-information-circled"></i> Invalid:
                <span ng-show="prodDForm.supplierCUEAN.$error.required">Consumer unit EAN is required.</span>
              </div>
          </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="companyItemCode">Company Item Code:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="companyItemCode" ng-model='nwProdList.supplierItemCode' required minlength="2" maxlength="24">
            <div class="custom-error" ng-show="prodDForm.supplierItemCode.$dirty && prodDForm.supplierItemCode.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.supplierItemCode.$error.required">Companys item code is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="buyerItemCode">Customer Item Code:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="buyerItemCode" ng-model='nwProdList.buyerItemCode' required minlength="2" maxlength="24">
            <div class="custom-error" ng-show="prodDForm.buyerItemCode.$dirty && prodDForm.buyerItemCode.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.buyerItemCode.$error.required">Customers item code is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="CUinTU">CU in Traded Unit:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="CUinTU" ng-model='nwProdList.CUinTU' required minlength="1" maxlength="4">
            <div class="custom-error" ng-show="prodDForm.CUinTU.$dirty && prodDForm.CUinTU.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.CUinTU.$error.required">CU in traded unit is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="uMindicator">Unit Measure and Measure Indicator:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="uMindicator" ng-model='nwProdList.measureUnit' required minlength="1" maxlength="8">
         </div>
		 <div  class="col-sm-2">
           <select class="form-control" name="units" ng-model='nwProdList.uMindicatorUnit' required>
             <option value="KGM">(kg) - Kilograms</option>
             <option value="GRM">(g) - Grams</option>
             <option value="LTR">(L) - Litre</option>
             <option value="CUL">(cu.L) - Cubic Litre</option>
             <option value="MTR">(M) - Meter</option>
             <option value="SQM">(sq.M) - Square Meter</option>
           </select>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="itemPrice">Item Price ex VAT:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="itemPrice" ng-model='nwProdList.itemPrice' required minlength="1" maxlength="8">
            <div class="custom-error" ng-show="prodDForm.itemPrice.$dirty && prodDForm.itemPrice.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.itemPrice.$error.required">Item price is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="extLineCost">Extended Line Cost ex VAT:</label>
         <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="extLineCost" ng-model='nwProdList.extdLineCost' required minlength="1" maxlength="8">
            <div class="custom-error" ng-show="prodDForm.extLineCost.$dirty && prodDForm.extLineCost.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.extLineCost.$error.required">Extended line cost is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="itemVATCodeSelect">VAT Code:</label>
         <div class="col-sm-2">
           <select class="form-control" name="VATCode" ng-model='nwProdList.itemVATCode' required>
             <option value="Z-0">Z-0%</option>
             <option value="L-5">L-5%</option>
             <option value="L-13.1">L-13.1%</option>
             <option value="S-19">S-19%</option>
             <option value="S-20">S-20%</option>
             <option value="S-21">S-21%</option>
             <option value="S-23">S-23%</option>
           </select>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="description">Article Description:</label>
         <div class="col-sm-2">
           <input type="text" class="form-control" style="outline:1px solid lightgrey;" name="description" ng-model='nwProdList.description'>
            <div class="custom-error" ng-show="prodDForm.description.$dirty && prodDForm.description.$invalid">
              <i class="ion-information-circled"></i> Invalid:
              <span ng-show="prodDForm.description.$error.required">Article description is required.</span>
            </div>
         </div>
        </div>

        <div class="form-group">
         <label class="control-label col-sm-4" for="itemRemarks">Remarks:</label>
          <div class="col-sm-2">
          <input type="text" class="form-control" style="outline:1px solid lightgrey;" id="itemRemarks" ng-model='nwProdList.itemRemarks'>
         </div>
        </div>

	  </form>


    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button class="md-raised md-primary" ng-disabled="prodDForm.$invalid" ng-click="saveDialog(nwProdList)">Save</md-button>
    <md-button class="md-raised md-primary" ng-click="cancelDialog()">Cancel</md-button>
  </md-dialog-actions>

 </md-dialog>

 </div>
</ion-view>
