<div>
<md-card class="scroll-x">
    <div class="data-alignment">
      <b translate="VATBREAKDOWN"></b>
      <table class="table" md-table>
        <thead md-head>
          <tr>
            <td><b translate="CODE"></b></td>
            <td><b translate="PERCENT"></b></td>
            <td><b translate="LINES"></b></td>
            <td><b translate="LINESNET"></b></td>
            <td><b translate="SURCHARGES"></b></td>
            <td><b translate="TOTALNET"></b></td>
            <td><b translate="VATAMOUNT"></b></td>
            <td><b translate="TOTAL"></b></td>
          </tr>
        </thead>
        <tbody md-body>
          <tr ng-repeat="(key,VATCode) in VATBreakdown">
            <td>{{key}}</td>
            <td>{{VATCode.percent * 100 | number:2}}%</td>
            <td>{{VATCode.lines}}</td>
            <td>{{VATCode.lineTotal | currency:"":2}}</td>
            <td>{{VATCode.surcharges | currency:"":2}}</td>
            <td>{{VATCode.taxableAmount | currency:"":2}}</td>
            <td>{{VATCode.VATAmount | currency:"":2}}</td>
            <td>{{VATCode.total | currency:"":2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</md-card>
<md-card class="scroll-x">
  <div class="data-alignment">
      <b translate="TOTALS"></b>
      <table class="table" md-table>
        <tr align="left">
          <td><span translate="LINETOTALAMOUNT"></span>:</td><td>{{totalLineTotal | currency:"£":2}}</td>
        </tr>
        <tr align="left">
          <td><span translate="TOTALSURCHARGES"></span>:</td><td>{{totalSurcharges | currency:"£":2}}</td>
        </tr>
        <tr align="left">
          <td><span translate="TOTALTAXABLEAMOUNT"></span>:</td><td>{{totalTaxableAmount | currency:"£":2}}</td>
        </tr>
        <tr align="left">
          <td><span translate="TOTALVATAMOUNT"></span>:</td><td>{{totalVATAmount | currency:"£":2}}</td>
        </tr>
        <tr align="left">
          <td><span translate="TOTALINVOICEAMOUNT"></span>:</td><td>{{totalInvoice | currency:"£":2}}</td>
        </tr>
      </table>
    </div>
  </md-card>
</div>