<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: *;img-src 'self' data: *; style-src * 'self' 'unsafe-inline'; script-src * 'self' 'unsafe-inline' 'unsafe-eval'; media-src *;object-src 'self' blob:">
    <base href="/">
    <title></title>

    <link rel="stylesheet" href="lib/ionic/css/ionic.css">

    <link rel="stylesheet" href="/lib/angular-material/angular-material.css">
    <link rel="styleSheet" href="/lib/angular-ui-grid/ui-grid.min.css">
    <link rel="styleSheet" href="/lib/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/lib/angular-material-data-table/dist/md-data-table.min.css">
    <link rel="stylesheet" href="/lib/angular-moment-picker/dist/angular-moment-picker.min.css">
    <link rel="stylesheet" href="/lib/angular-moment-picker/dist/themes/material-ui.min.css">

    <link rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material%20Icons">

    <link rel="stylesheet" href="css/style.css">

    <!-- <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-blue.min.css"> -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above -->
    <!-- <link href="css/ionic.app.css" rel="stylesheet"> -->

    <!-- ionic/angularjs js -->

    <script type="application/javascript" src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- angular material js -->
    <script type="application/javascript" src="/lib/angular-animate/angular-animate.js"></script>
    <script type="application/javascript" src="/lib/angular-aria/angular-aria.js"></script>
    <script type="application/javascript" src="/lib/angular-messages/angular-messages.js"></script>
    <script type="application/javascript" src="/lib/angular-material/angular-material.js"></script>
    <script type="application/javascript" src="/lib/angular-md5/angular-md5.js"></script>
    <script type="application/javascript" src="/lib/angular-translate/dist/angular-translate.js"></script>

    <!-- angular ui grid/bootstrap js -->
    <script type="application/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="application/javascript" src="/lib/angular-ui-grid/ui-grid.js"></script>
    <script type="application/javascript" src="/lib/angular-material-data-table/dist/md-data-table.min.js"></script>

    <!-- angular moment js -->
    <script type="application/javascript" src="/lib/moment/moment.js"></script>
    <script type="application/javascript" src="/lib/angular-moment-picker/dist/angular-moment-picker.min.js"></script>

    <!-- pdfmake/pdfmake.js -->
    <script type="application/javascript" src="lib/pdfmake/build/pdfmake.js"></script>
    <script type="application/javascript" src="lib/pdfmake/build/vfs_fonts.js"></script>
    <link href="/lib/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <script type="application/javascript" src="js/app.js"></script>
    <script type="application/javascript" src="js/config.js"></script>
    <script type="application/javascript" src="js/translate.js"></script>
    <script type="application/javascript" src="js/services.js"></script>
    <script type="application/javascript" src="js/columnDefs.js"></script>
    <script type="application/javascript" src="js/index.js"></script>

    <!-- WebForm Modules -->
    <script type="application/javascript" src="js/wTab.js"></script>
    <script type="application/javascript" src="js/wFormMenu.js"></script>
    <script type="application/javascript" src="js/wFormMain.js"></script>


    <script type="text/javascript">

    angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
</script>

  </head>

  <body ng-app="lasersensor">
    <ion-nav-view></ion-nav-view>
  </body>

  <script type="text/ng-template" id="lasersensor.html">
    <ion-pane title="Webform Application">
      <ion-content overflow-scroll="true" padding="true" class="has-header">
          {{TEST}}
      </ion-content>
    </ion-pane>
  </script>

</html>





  <!-- <body ng-app="webform"> -->

  <!-- The nav bar that will be updated as we navigate between views. -->


  <!-- The views will be rendered in the <ion-nav-view> directive below -->
  <!-- Templates are in the /templates folder (but you could also -->
  <!-- have templates inline in this html file if you'd like). -->

<!--     <ion-nav-view>
      <a ui-sref="webForm">webForm</a>
      <a ui-sref="webForm.orderList">POrderList</a>
      <a ui-sref="webForm.order.details">POrderDetails</a>
    </ion-nav-view>
    <div>
      <div ui-view></div>
    </div>
  </body> -->
