<ion-view>

<div layout="row" layout-fill ng-cloak>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!-- md-colors="{background: 'primary-300'}"> -->
    <md-toolbar  class="md-tall" md-colors="{background: 'primary-300'}">
      <div class="md-toolbar-tools">
        <div class="menu-container">
          <md-icon>{{wFormMenuData.user.icon}}</md-icon>
          <div class="user-info">
            <span class="md-body-2">{{wFormMenuData.user.name}}</span>
            <span class="md-caption">{{wFormMenuData.user.email}}</span>
          </div>
        </div>
      </div>
    </md-toolbar>

    <md-content role="navigation" class="nav">
      <md-list ng-repeat="section in wFormMenuData.sidenav.sections">
        <md-list-item ng-click="section.expand = !section.expand">
          <span class="md-primary"><strong md-colors="{color: 'primary-500'}">{{section.name}}</strong></span>
          <span flex></span>
          <md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
        </md-list-item>
        <md-list-item ng-show="section.expand" ng-repeat="action in section.actions" ng-click="toast(action.link)">
          <i class="menu-icon mdi mdi-24px mdi-dark {{action.icon}}"></i>
            <p class="md-body-2">{{action.name}}</p>
            <span flex></span>
          <md-icon>chevron_right</md-icon>
        </md-list-item>
      </md-list>
    </md-content>

  </md-sidenav>


  <div layout="row" flex>
    <div layout="column" flex>

      <md-toolbar role="toolbar" class="md-table-toolbar title" md-colors="{background: 'primary-300'}">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <md-icon>menu</md-icon>
          </md-button>
          <div layout="row" layout-fill>
            <h4 class="md-title" flex="100">{{wFormMenuData.title}}</h4>
          </div>
        </div>
      </md-toolbar>

      <div layout="column" flex>
        <md-content flex>
          <ion-nav-view name="content"></ion-nav-view>
        </md-content>
      </div>

   </div>
  </div>


  <div ng-init="load()"></div>

</div>

</ion-view>
