<ion-view>
  <div layout="column" class="relative" layout-fill role="main">
      <md-toolbar class="md-table-toolbar">

        <div class="md-toolbar-tools">
          <div class="md-toolbar-tools">
            <span class="toolbar-title" translate="PARTICLESENSOR"></span>
            <div flex></div>
            <div class="toolbar-buttons">
              <md-button class="md-icon-button" ng-click="loadStuff()">
               <span class="mdi mdi-light mdi-18px mdi-refresh"></span>
              </md-button>
            </div>
          </div>
        </div>
      </md-toolbar>

    <md-content flex md-scroll-y layout="column" id="popupContainer">
      <div layout-xs="column" layout="row" layout-wrap ng-if="!mobile">
        <!--
        <div  flex-xs="100" flex-md="100" flex-sm="100" flex="25">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor1.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor1.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor1.reading1}}</div>
              <div><b translate="HUMID"></b>: {{sensor1.reading2}}</div>
              <div><b translate="PM2.5"></b>: {{sensor1.reading3}}</div>
              <div><b translate="DATETIME"></b>: {{sensor1.createdDate}}</div>
    				</div>
          </md-card>
        </div>
      -->
        <div  flex-xs="100" flex-md="100" flex-sm="100" flex="25">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor2.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor2.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor2.reading1}}</div>
              <div><b translate="HUMID"></b>: {{sensor2.reading2}}</div>
              <div><b translate="PM2.5"></b>: {{sensor2.reading3}}</div>
              <div><b translate="DATETIME"></b>: {{sensor2.createdDate}}</div>
    				</div>
          </md-card>
        </div>
        <!--
        <div  flex-xs="100" flex-md="100" flex-sm="100" flex="25">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor3.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor3.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor3.reading1}}</div>
              <div><b translate="DATETIME"></b>: {{sensor3.createdDate}}</div>
    				</div>
          </md-card>
        </div>
        <div  flex-xs="100" flex-md="100" flex-sm="100" flex="25">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor4.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor4.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor4.reading1}}</div>
              <div><b translate="DATETIME"></b>: {{sensor4.createdDate}}</div>
    				</div>
          </md-card>
        </div>
      -->
      </div>
      <div layout-xs="column" layout="row" layout-wrap ng-if="mobile">
        <!--
        <div  flex-xs="100" flex-md="50" flex-sm="50" flex="50">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor1.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor1.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor1.reading1}}</div>
              <div><b translate="HUMID"></b>: {{sensor1.reading2}}</div>
              <div><b translate="PM2.5"></b>: {{sensor1.reading3}}</div>
              <div><b translate="DATETIME"></b>: {{sensor1.createdDate}}</div>
    				</div>
          </md-card>
        </div>
      -->
        <div  flex-xs="100" flex-md="50" flex-sm="50" flex="50">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor2.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor2.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor2.reading1}}</div>
              <div><b translate="HUMID"></b>: {{sensor2.reading2}}</div>
              <div><b translate="PM2.5"></b>: {{sensor2.reading3}}</div>
              <div><b translate="DATETIME"></b>: {{sensor2.createdDate}}</div>
    				</div>
          </md-card>
        </div>
        <!--
        <div  flex-xs="100" flex-md="50" flex-sm="50" flex="50">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor3.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor3.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor3.reading1}}</div>
              <div><b translate="DATETIME"></b>: {{sensor3.createdDate}}</div>
    				</div>
          </md-card>
        </div>
        <div  flex-xs="100" flex-md="50" flex-sm="50" flex="50">
          <md-card class="md-card-full-height">
            <div class="data-alignment">
    					<h4><b translate="SENSORID"></b>: {{sensor4.sensorID}}</h4>
    					<div><b translate="SENSORTYPE"></b>: {{sensor4.sensorType}}</div>
    					<div><b translate="TEMP"></b>: {{sensor4.reading1}}</div>
              <div><b translate="DATETIME"></b>: {{sensor4.createdDate}}</div>
    				</div>
          </md-card>
        </div>
      -->
      </div>
    </md-content>

</div>

<div ng-init="load()"></div>
</ion-nav-view>
