<ion-view>
  <div layout-fill ng-cloak>
        <md-tabs class="md-hue-3" md-selected="currentNavItem" md-autoselect="true">
          <md-tab ng-repeat="item in navItems" ui-sref="{{item.statePath}}" name='{{item.name}}' label='{{item.title}}' ></md-tab>
        </md-tabs>
        <ion-nav-view></ion-nav-view>
  </div>

  <div ng-init="load()"></div>
</ion-view>
