/* Empty. Add your own CSS if you like */
/* body,
md-content {
  background-color: #f5f5f5 !important;
}

body > md-toolbar {
  z-index: 3;
}

md-toolbar.md-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
  font-size: 16px;
}

md-card:first-child {
  padding: 8px 8px 8px 24px;
}
*/

md-input-container {
  margin: 0px;
  padding: 0px;
}

md-input-container .md-input{
  border-color: #0e4599;
}
md-datepicker {
  margin-right: 0px;
}
.checkboxes > md-checkbox {
  margin: 0;
  padding: 16px;
  min-width: 300px;
  flex: 0 0 auto;
}

md-input-container label:not(.md-container-ignore) {
  position: static;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}
/*
.wf-button {
  background-color: #03A9F4;
  color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow:2px 2px 4px 2px rgba(30%,30%,50%,0.5);
  font-size: 8px;
}

.wf-button:hover span{
  color: #03A9F4;
}

.wf-list-button {
  background-color: #03A9F4;
  color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow:2px 2px 4px 2px rgba(30%,30%,50%,0.5);
  font-size: 8px;
  margin: 5px 5px 5px 5px;
}

.wf-list-button:hover span{
  color: #03A9F4;
}
*/
.scroll-list{
  height: 300px;
  overflow-y: true;
}
/*
md-tab-item {
  background-color: rgba(63,81,181,1);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px -2px 2px 2px rgba(30%,30%,50%,0.5);
  border-color: rgba(40,53,147,1);
  border-width: 1px;
  border-style: solid;
  margin-top: 5px;
  margin-left: 1px;
}

md-tab-item span{
  color: rgba(200,200,200,1);
  font-weight: 500;
}

.md-active span{
  color: rgba(255,64,129,1);
  font-weight: bold;
}

md-nav-bar .md-button._md-nav-button.md-unselected{
  color: rgba(200,200,200,1);
  font-weight: 500;
}

.md-button.md-accent{
  font-weight: bold;
}
*/
.md-nav-item:first-of-type{
  margin-left: 0px;
}

.trading-col {
    flex: 0 0 10px;
}
/*
.md-card-dark-blue {
  color: rgba(255,255,255,1.0);
  background-color: rgb(21,101,192);
  border-radius: 2px;
}

.md-card-dark-grey{
  color: rgba(255,255,255,1.0);
  background-color: rgb(66,66,66);
  border-radius: 2px;
}

.md-card-dark-purple{
  color: rgba(255,255,255,1.0);
  background-color: rgb(103,58,183);
  border-radius: 2px;
}

.md-card-dark-green{
  color: rgba(255,255,255,1.0);
  background-color: rgb(0,150,136);
  border-radius: 2px;
}

.md-card-dark-red{
  color: rgba(255,255,255,1.0);
  background-color: rgb(244,67,54);
  border-radius: 2px;
}

.md-card-indigo{
  color: rgba(255, 255, 255, 0.87);
  background: rgb(63, 81, 181);
  border-radius: 2px;
}

.md-card-cyan{
  color: rgba(255, 255, 255, 0.87);
  background: rgba(0, 184, 212, 0.87);
  border-radius: 2px;
}

.md-card-gold{
  color: rgba(174,67,0,1);
  background: linear-gradient(to bottom left, rgba(249, 227, 204, 1), rgba(200, 177, 152, 1));
  border-radius: 2px;
}

.md-card-gold2{
  color: black;
  background: linear-gradient(to bottom left, rgba(249, 227, 204, 1), rgba(200, 177, 152, 1));
  border-radius: 2px;
}

.md-card-cool{
  color: rgba(255,255,255,1);
  background: rgba(31,53,73,1);
  border-radius: 2px;
}

.md-card-cool2{
  color: rgba(255,255,255,1);
  background: linear-gradient(to bottom left, rgba(0,120,206,0.4), rgba(40,53,147, 1));
  border-radius: 2px;
}

.md-card-border{
  border-width: 5px 5px 5px 5px;
  border-color: rgba(123,31,162,1.0);
  border-radius: 10px;
  border-style: solid;
}

.md-list-text{
  color: blue;
}

.table-header{
  color: rgba(255, 255, 255, 0.87);
  background: rgb(3, 155, 229);
  border-radius: 2px;
}

.table-body{
  background: #84FFFF;
  border-radius: 2px;
}
*/
md-card, md-card > md-content{
  background:whitesmoke; /*f4f4f4 E8F4FE*/
}
.ui-grid-header-cell{
  color: rgba(255, 255, 255, 0.87);
   background-color: #185b95;/*008571 98c1d9 */
}



.largeTab{
  height: 2100px;
}


/* Add a space after content for use with ng-repeat spans*/
.addSpace::after {
  content: ' ';
}

/*document history table */
.scroll-x {
  overflow-x: auto;
}


/*animate expand button */
.expand-arrow {
  transition: all .2s ease-in-out;
}
.expand-arrow.ng-animate {
  transition: all 0s;
  transform: scale(1.2);
}
.expand-arrow:hover {
  transform: scale(1.2);
}

.addSpace::after {
  content: ' ';
}
.menu-container md-icon {
  font-size: 60px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-top: 85px;
  align-content: left;
}
.user-info {
  display: flex;
  flex-direction: column;
}


md-tab-item {
  background-color: #f4f4f4;/* E8F4FE*/
}
md-tab-item span{
  color: #000000;
  font-weight: 500;
}
 .md-active span{
  /* color: rgba(255,64,129,1); */
  font-weight: bold;
}

.md-title {
  display: flex;
  align-items: center;
}

.md-toolbar-top {
  position: relative;
}

.data-alignment {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}
.data-alignment div {
  margin-left: 5px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.data-alignment div:last-child{
  margin-bottom: 0px;
}

.data-alignment label:first-child {
  margin-top: 0px;
}
.data-alignment > b {
  margin-bottom: 10px;
}
.data-alignment > div > span :nth-child(1) {
  font-weight: bold;
}
.data-alignment > div > span :nth-child(2){
  margin-left: 5px;
}
.data-alignment div > .grid {
  margin-top: 5px;
}
.data-alignment md-select{
  margin-bottom: 5px;
}
.data-alignment md-radio-button .md-label {
  margin-left: 40px;
  margin-top: -22px;
}
.data-alignment md-radio-group {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.data-alignment md-input-container > md-select{
  margin-top: 5px;
  margin-bottom: 5px;
}
.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}
.user-settings h4, .user-settings md-list, .user-settings md-tabs{
  margin: 10px;
}
.user-settings md-tabs {
  margin-top: 0;
}
.header-highlighter {
  background-color: #92c7f3;
  color: #000000;
}
#permissions-tab-content {
  margin-left: -7px;
  margin-right: -7px;
}
#add-delivery-icon {
  display: flex;
  margin-top: 27px;
  padding-left: 10px;
}

.time-container {
  margin-top: 5px;;
}

.other-info md-input-container {
  margin-top: -10px;
  margin-bottom: 5px;
}

.time-picker {
  padding-top: 30px;
  padding-left: 5px;
}

.other-info div {
  margin-bottom: 15px;
}

.input-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.reduced-gap div{
  margin-bottom: 3px;
}

#top-address-element {
  margin-top: 5px;
}

.md-card-full-height{
  min-height: 98%;
}

.footer-alignment div:nth-child(2){
  margin-left: 0px;
  margin-bottom: 0px;
}

.main-grid {
  height: 93%;
  min-height: 90%;
}

.table-header {
  background-color: lightgray;
}

.menu-icon {
  padding-right: 10px;
}
.container {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* .line-grid {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0
} */

/* .order-container {
  display: inline-flex;
  justify-content: space-between;
} */

.toolbar-title {
  margin-left: -25px;
}

.toolbar-buttons {
  margin-right: -30px;
}

.md-headline {
  margin-top: 10px;
}

#materialToolbar {
  height: 70px;
}

.login-menu {
  position: relative;
  top: 4px;
  right: -10px;
}

.login-input:not(md-input-container:first-child) {
  position: relative;
  top: 60px;
  width: 100%;
}

.md-card-user{
  min-width: 95%;
}

.label {
  color: #0b2a45;
} 

md-card.md-button {
  font-size: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-decoration:inherit;
}

.list {
  margin-bottom: 0px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
  max-height: 3.5em;
  white-space: normal;
  /* -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip; */
}

.grid-buttons {
  margin-top: 3em;
}

.fill-available {
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

.add-product-button {
  float: left;
  margin-left: 4px;
}

.line-item-number {
  float: right;
  margin-right: 10px;
}

@media only screen and (min-width: 1280px) {
  .title {
    height: 80px;
  }
  .md-title {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .footer-alignment div:nth-child(2){
    margin-left: 5px;
    margin-bottom: 2px;
  }
}
